<div id="<%= dom_id group %>">
  <p>
    <strong>Nombre:</strong>
    <%= group.nombre %>
  </p>

  <p>
    <strong>Intengrantes:</strong>
    <%= group.intengrantes %>
  </p>

  <p>
    <strong>Fecha debut:</strong>
    <%= group.fecha_debut %>
  </p>

  <p>
    <strong>Tipo grupo:</strong>
    <%= group.tipo_grupo %>
  </p>

  <p>
    <strong>Cantidad de Conciertos:</strong>
    <%= group.concerts.count %>
  </p>
</div>
