<div id="<%= dom_id concert %>">
  <p>
    <strong>Fecha:</strong>
    <%= concert.fecha %>
  </p>

  <p>
    <strong>Asistentes:</strong>
    <%= concert.asistentes %>
  </p>

  <p>
    <strong>Lugar:</strong>
    <%= concert.lugar %>
  </p>

  <p>
    <strong>Duracion:</strong>
    <%= concert.duracion %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= concert.group_id %>
  </p>

</div>
